<!DOCTYPE html>
<html>

<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
        <div class="row column">
          <br>
          <img class="thumbnail" src="/images/APRIL 1.png">
          <h3><strong><u>April Long</u></strong></h3>
          <ul>
            <li>Udacity</li>
            <li>University of Denver</li>
            <li>Nameste</li>
            <li>Emily Griffith</li>
          </ul>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar hide-for-large">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="my-info"></button>
            <span class="title-bar-title">April Long</span>
          </div>
        </div>
        <div class="callout primary">
          <div class="row column">
            <h1>Hello! This is the portfolio of April Long</h1>
            <p class="lead">I am a pliable educator with over 10 years of experience in History, English, and Web development. I am an
            instructor that has demonstrated knowledge of classroom management, course & assignment design, and
            curriculum development. I am a passionate professional who understands the need for well-rounded lessons for
            students to gain necessary skills and concepts. I am looking to contribute my knowledge and competences in
            an institution that offers diverse and progressive career opportunities.</p>
          </div>
        </div>
        <div class="padding row small-up-2 medium-up-3 large-up-4">
        </div>
          {{{body}}}
        <hr>
      </div>
    </div>
  </div>

  {{!--
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="/js/main.js"></script> --}}
        <a href="/admin">Admin Area</a>
</body>

</html>