.padding{padding:10px;}
.small-img{width:80px;}
.small-img{background-color: saddlebrown;}

li{list-style-type: none; font-size: 25px; font-family: cursive;}

body{background-color: purple;}

h3{color:saddlebrown; font-size: 30px;}